---
import { profileData } from "../lib/data";
const { about } = profileData;
---

<section class="py-5 md:py-16 px-2 sm:px-6 rounded-lg max-w-screen-2xl mx-auto mt-6 sm:mt-10 relative transform-gpu" id="about">
  <div class="absolute inset-0 pointer-events-none z-0 transform-gpu">
    <img src="/images/sketch-pantera.png" alt="My dog Panther" class="hidden md:block absolute bottom-10 right-15 w-[12%] opacity-50" />
    <img src="/images/sketch-car.png" alt="Car sketch" class="hidden md:block absolute bottom-0 left-5 w-[18%] rotate-[-5deg] opacity-50" />
    <img src="/images/sketch-plane.png" alt="Plane sketch" class="hidden md:block absolute -top-20 right-1/8 w-[30%] rotate-3 opacity-50" />
    <img src="/images/sketch-pen.png" alt="Pen sketch" class="hidden md:block absolute top-10 left-25 w-[15%] -translate-x-1/2 -translate-y-1/2 rotate-6 opacity-50" />
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 sm:gap-8 max-w-screen-lg mx-auto relative z-10 transform-gpu">
    <div class="col-span-1 flex flex-col justify-center">
      <h2 class="text-5xl md:text-6xl text-gray-600 decorative-text">About me</h2>
      <div class="flex flex-col mt-2">
        {about.map((paragraph) => (
          <p class="text-base sm:text-lg mb-4" set:html={paragraph} />
        ))}
      </div>
    </div>
    <div class="col-span-1 p-0 sm:p-8">
      <img src="/images/cases/photo-vini.jpg" alt="About Me" class="w-64 h-auto md:w-full md:h-auto rounded-full md:rounded-lg shadow-lg mx-auto" />
    </div>
  </div>
</section>
